# database configuration
HOST=0.0.0.0
PORT=5001
PROTO_URL=libs/grpc/auth.proto
# local mongodb
DB_CONNECTION=mongodb
DB_HOST=mongodb-auth:27017
DB_NAME=auth
DB_USER=
DB_PASSWORD=

# redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=redis123
REDIS_DB=0

JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
GATEWAY_URL=http://localhost:5000