# database configuration
HOST=0.0.0.0
PORT=5001
PROTO_URL=libs/grpc/auth.proto
# local mongodb
DB_CONNECTION=mongodb
DB_HOST=localhost:27017
DB_NAME=
DB_USER=
DB_PASSWORD=

# redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_USERNAME=admin
REDIS_PASSWORD=
REDIS_DB=0

JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
REGISTER_TOKEN_SECRET=
GATEWAY_URL=http://localhost:5000