HOST=0.0.0.0
PORT=5004
PROTO_URL=libs/grpc/ai.proto
NODE_ENV=local
GOOGLE_API_KEY=
GOOGLE_MODEL=

KAFKA_BROKERS=kafka:29092
KAFKA_HOST=localhost
KAFKA_PORT=9092
KAFKA_CLIENT_ID=ai-service
KAFKA_GROUP_ID=ai-group
KAFKA_SASL_USERNAME=admin
KAFKA_SASL_PASSWORD=admin-secret
KAFKA_SASL_MECHANISM=scram-sha-256
KAFKA_SASL=false
URL_FRONTEND=http://localhost:3000


DB_CONNECTION=mongodb
DB_HOST=localhost:27017
DB_NAME=appchat
DB_USER=admin
DB_PASSWORD=123