HOST=0.0.0.0
PORT=5004
PROTO_URL=libs/grpc/ai.proto
NODE_ENV=local
GATEWAY_URL=http://api-gateway:5000
GATEWAY_INTERNAL_SECRET=

GOOGLE_API_KEY=
GOOGLE_MODEL=
URL_FRONTEND=http://localhost:3000

DB_CONNECTION=mongodb
DB_HOST=mongodb:27017
DB_NAME=appchat_ai
DB_USER=
DB_PASSWORD=

KAFKA_HOST=kafka
KAFKA_PORT=29092
KAFKA_CLIENT_ID=ai-service
KAFKA_GROUP_ID=ai-group
KAFKA_SASL=false
KAFKA_SASL_USERNAME=
KAFKA_SASL_PASSWORD=
KAFKA_SASL_MECHANISM=
