HOST=0.0.0.0
PORT=5005
GATEWAY_URL=http://api-gateway:5000
GATEWAY_INTERNAL_SECRET=

DB_CONNECTION=mongodb
DB_HOST=mongodb:27017
DB_NAME=appchat_notification
DB_USER=
DB_PASSWORD=

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=redis123
REDIS_DB=0

FIREBASE_TYPE=
FIREBASE_PROJECT_ID=
FIREBASE_PRIVATE_KEY_ID=
FIREBASE_PRIVATE_KEY=
FIREBASE_CLIENT_EMAIL=
FIREBASE_CLIENT_ID=
FIREBASE_AUTH_URI=
FIREBASE_TOKEN_URI=
FIREBASE_AUTH_PROVIDER_X509_CERT_URL=
FIREBASE_CLIENT_X509_CERT_URL=
FIREBASE_UNIVERSE_DOMAIN=

MAIL_HOST=
MAIL_PORT=
MAIL_USER=
MAIL_PASS=

KAFKA_HOST=kafka
KAFKA_PORT=29092
KAFKA_CLIENT_ID=notification-service
KAFKA_GROUP_ID=notification-group
KAFKA_SASL=false
KAFKA_SASL_USERNAME=
KAFKA_SASL_PASSWORD=
KAFKA_SASL_MECHANISM=

URL_FRONTEND=http://localhost:3000
