NODE_ENV=local
HOST=0.0.0.0
PORT=5006

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=redis123
REDIS_DB=0

GATEWAY_JWT_ACCESS_SECRET=change-me
GATEWAY_JWT_REFRESH_SECRET=change-me

GATEWAY_INTERNAL_URL=http://api-gateway:5000
GATEWAY_INTERNAL_SECRET=

GATEWAY_SFU_HOST=sfu
GATEWAY_SFU_PORT=5008
GATEWAY_SFU_TLS=false
GATEWAY_SFU_PROTO_PATH=libs/grpc/sfu.proto
SFU_INTERNAL_SECRET=change-me
