HOST=0.0.0.0
PORT=5006
PROTO_URL=libs/grpc/socket.proto

KAFKA_BROKERS=kafka:29092
KAFKA_HOST=localhost
KAFKA_PORT=9092
KAFKA_CLIENT_ID=notification-service
KAFKA_GROUP_ID=notification-group
KAFKA_SASL_USERNAME=admin
KAFKA_SASL_PASSWORD=admin-secret
KAFKA_SASL_MECHANISM=scram-sha-256
KAFKA_SASL=false
URL_FRONTEND=http://localhost:3000

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=redis123
REDIS_DB=0

JWT_ACCESS_SECRET='your_jwt_access_secret'
JWT_REFRESH_SECRET='your_jwt_refresh_secret'

# SFU gRPC client (mediasoup VM)
GATEWAY_SFU_HOST=localhost
GATEWAY_SFU_PORT=5008
GATEWAY_SFU_TLS=false
GATEWAY_SFU_PROTO_PATH=libs/grpc/sfu.proto
SFU_INTERNAL_SECRET=change-me