HOST=0.0.0.0
PORT=5007
PROTO_URL=libs/grpc/learning.proto
GATEWAY_URL=http://api-gateway:5000
GATEWAY_INTERNAL_SECRET=

DB_CONNECTION=mongodb
DB_HOST=mongodb:27017
DB_NAME=appchat_learning
DB_USER=
DB_PASSWORD=
