NODE_ENV=local
HOST=0.0.0.0
PORT=5000
GATEWAY_INTERNAL_SECRET=

GATEWAY_AUTH_HOST=auth
GATEWAY_AUTH_PORT=5001
GATEWAY_AUTH_PROTO_PATH=libs/grpc/auth.proto

GATEWAY_FILESYSTEM_HOST=filesystem
GATEWAY_FILESYSTEM_PORT=5002
GATEWAY_FILESYSTEM_PROTO_PATH=libs/grpc/filesystem.proto

GATEWAY_CHAT_HOST=chat
GATEWAY_CHAT_PORT=5003
GATEWAY_CHAT_PROTO_PATH=libs/grpc/chat.proto

GATEWAY_AI_HOST=ai
GATEWAY_AI_PORT=5004
GATEWAY_AI_PROTO_PATH=libs/grpc/ai.proto

GATEWAY_NOTIFICATION_HOST=notification
GATEWAY_NOTIFICATION_PORT=5005
GATEWAY_NOTIFICATION_PROTO_PATH=libs/grpc/notification.proto

GATEWAY_JWT_ACCESS_SECRET=change-me
GATEWAY_JWT_REFRESH_SECRET=change-me

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=redis123
REDIS_DB=0

KAFKA_HOST=kafka
KAFKA_PORT=29092
KAFKA_CLIENT_ID=api-gateway
KAFKA_GROUP_ID=api-gateway-group
KAFKA_SASL=false
KAFKA_SASL_USERNAME=
KAFKA_SASL_PASSWORD=
KAFKA_SASL_MECHANISM=
