NODE_ENV=local # local | development | production
# Environment variables for API Gateway
HOST=localhost
PORT=5000
# Auth Service Configuration
GATEWAY_AUTH_HOST=localhost
GATEWAY_AUTH_PORT=5001
GATEWAY_AUTH_PROTO_PATH=libs/grpc/auth.proto
# end auth service configuration

# Filesystem Service Configuration
GATEWAY_FILESYSTEM_PROTO_PATH=libs/grpc/filesystem.proto
GATEWAY_FILESYSTEM_HOST=localhost
GATEWAY_FILESYSTEM_PORT=5002
# end filesystem service configuration

# chat service configuration
GATEWAY_CHAT_PROTO_PATH=libs/grpc/chat.proto
GATEWAY_CHAT_HOST=localhost
GATEWAY_CHAT_PORT=5003
# end chat service configuration

# notification configuration
KAFKA_HOST=127.0.0.1
KAFKA_PORT=9092
KAFKA_CLIENT_ID=notification-service
KAFKA_GROUP_ID=notification-group
KAFKA_SASL=true
KAFKA_SASL_USERNAME=
KAFKA_SASL_PASSWORD=
KAFKA_SASL_MECHANISM=scram-sha-256
GATEWAY_NOTIFICATION_HOST=0.0.0.0
GATEWAY_NOTIFICATION_PORT=5005

# JWT Configuration
GATEWAY_JWT_ACCESS_SECRET='your_jwt_access_secret'
GATEWAY_JWT_REFRESH_SECRET='your_jwt_refresh_secret'


# redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=redis123
REDIS_DB=0