HOST=0.0.0.0
PORT=5003


KAFKA_BROKERS=kafka:29092


# MongoDB Configuration (Docker Compose)
DB_CONNECTION=mongodb
DB_HOST=mongodb:27017
DB_NAME=appchat_chat
DB_USER=
DB_PASSWORD=

# Redis Configuration (Docker Compose)
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=redis123
REDIS_DB=0

GATEWAY_URL=http://localhost:5000
GATEWAY_INTERNAL_SECRET=


# kafka
KAFKA_HOST=localhost
KAFKA_PORT=9092
KAFKA_CLIENT_ID=notification-service
KAFKA_GROUP_ID=notification-group
KAFKA_SASL_USERNAME='admin'
KAFKA_SASL_PASSWORD='admin-secret'
KAFKA_SASL_MECHANISM='scram-sha-256'

# lưu key mã hóa CryptoJS
SECRET_KEY=123456
