HOST=0.0.0.0
PORT=5003
GATEWAY_URL=http://api-gateway:5000
GATEWAY_INTERNAL_SECRET=

DB_CONNECTION=mongodb
DB_HOST=mongodb:27017
DB_NAME=appchat_chat
DB_USER=
DB_PASSWORD=

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=redis123
REDIS_DB=0

KAFKA_HOST=kafka
KAFKA_PORT=29092
KAFKA_CLIENT_ID=chat-service
KAFKA_GROUP_ID=chat-group
KAFKA_SASL=false
KAFKA_SASL_USERNAME=
KAFKA_SASL_PASSWORD=
KAFKA_SASL_MECHANISM=

SECRET_KEY=change-me
